.health_reservation_normal_wrap{
    display: flex;
    flex-direction: column;
    margin: 20px 16px;
    align-items: center;
}

.health_reservation1_title{
    font-size: larger;
    font-weight: 800;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 0;
}

.health_reservation_normal_select > select{
    width: 100%;
    margin: 10px 0px;
    height: 30px;
    border-radius: 5px;
    border: #c5c5c5 solid 1px;
}

.health_reservation_information_wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.health_reservation_information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #c5c5c5;
    align-items: center;
    max-width: 600px;
    width: 60%;
    min-width: 288px;
}

.health_reservation_colorBox{
    height: 60px;
    width: 288px;
    border-radius: 10px;
    border: #9e9e9e 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.health_reservation_content > p{
    font-size: 12px;
    margin: 10px 0;
}

#reservation_btn{
    background-color: #8CCF4E;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    color: #fff;
    float: right;
}

/* 큰 화면에서 적용될 스타일 */
@media (min-width: 768px) {
    .health_reservation_normal_container{
        max-width: 800px;
    }

    .health_reservation1_title{
        font-size: 32px;
        font-weight: bold;
        color: #265708;
    }

    .health_reservation_colorBox{
        height: 75px;
        width: 310px;
        font-size: 16px;
    }

    .health_reservation_content > p{
        font-size: 16px;
    }

}