/*health_reservation1 css*/
.health_reservation1_wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 16px;
}

.health_reservation1_container{
    width: 100%;
}

.health_reservation1_title{
    font-size: larger;
    font-weight: 800;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 0;
}

.content{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content2{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#health_reservation1_content_title{
    padding: 10px 0;
    border-bottom: black 1px solid;
    font-size: medium;
    font-weight: 600;
}

#reservation_btn{
    background-color: #2D5EFF;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    float: right;
}

.health_reservation_normal_select > select{
    width: 100%;
    margin: 10px 0px;
    height: 30px;
    border-radius: 5px;
    border: #c5c5c5 solid 1px;
}

.health_reservation2_content{
    width: 100%;
}

#health_reservation_inputText > textarea{
    width: 100%;
    height: 300px;
    border: #9e9e9e solid 1px;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: left;
    display: flex;
}

.health_reservation_normal_date{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

/*Datepicker*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css');


/*datepicker*/
.i_datepicker input{cursor: pointer;}
.i_datepicker img{position: absolute; right: 15px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; background: url(../img/ico_datepicker.svg) no-repeat center/cover;}
#ui-datepicker-div{z-index: 9 !important;}
.ui-widget-header { border: 0px solid #dddddd; background: #fff; }

.ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; }

.ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; }

.ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; }

.ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px;}

.ui-widget.ui-widget-content { border: 1px solid #eee; }

#datepicker:focus>.ui-datepicker { display: block; }

.ui-datepicker-prev,
.ui-datepicker-next { cursor: pointer; }

.ui-datepicker-next { float: right; }

.ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); }

.ui-datepicker-title { text-align: center; padding: 10px; font-weight: bold; font-size: 20px; }

.ui-datepicker-calendar { width: 100%; }

.ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; }

.ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; }

.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; }

.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; }


.ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; }

.ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; }

.ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; }

.ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 7px; padding-bottom: 8px; }

.inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; }

.health_reservation1_checkbox{
    margin: 10px;
}

.health_reservation1_checkbox > label > input[type="checkbox"]{
    width: 50px;
}
/*미디어쿼리*/
@media (min-width: 768px) {
    .health_reservation1_container{
        max-width: 800px;
    }

    .ui-datepicker {
    width: 700px;
    height: 600px;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    }

    .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 60px; height: 80px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; }

    .health_reservation1_title{
        font-size: 32px;
        font-weight: bold;
        color: #265708;
    }

    .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 20px !important; font-weight: bold !important; text-decoration: none;}

    
    
}