* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px 60px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}
.logo-text {
    font-size: 1.5rem;
    color: #8DCE4E;
    font-weight: bold;
    text-decoration: none;
}

.icon {
    width: 48px;
    height: auto;
}

.title {
    font-size: 1.6rem;
    color: #8DCE4E; /* 닥터링 색상 */
    font-weight: bold;
}

.nav-links {
    display: none;
    gap: 60px;
}
    

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}

.nav-links a:hover{
    color: #686868;
}

.login-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-menu a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: block;
}

@media (min-width: 800px) {
    .nav-links {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .header {
        padding: 40px 60px;
    }
}