/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.member-management {
    width: 100%;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
    line-height: 50px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    color: #00af87;
    font-weight: bold;
    text-decoration: none;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-icon, .menu-icon {
    font-size: 1.5rem;
    margin-left: 10px;
}

.content h2 {
    font-size: 1.8rem;
    margin: 20px 0;
    text-align: center;
}

.total-members {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.sort-dropdown select {
    font-size: 1.2rem;
    padding: 5px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.member-list {
    margin-top: 20px;
}

.member-item {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
}

.member-item p {
    display: flex;
    gap: 15px; /* 요소 간 간격 */
}

.member-item p span {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.member-item:hover {
    background-color: #f9f9f9;
}

.status.pending {
    color: red;
}

.status.active {
    color: green;
}

/* 큰 화면 (800px 이상) */
@media (min-width: 800px) {
    .member-management {
        padding: 60px;
    }
    .content h2 {
        font-size: 2.2rem;
    }
    .sort-dropdown select {
        width: 150px;
    }
    .member-item {
        font-size: 1.1rem;
    }
}

/* 작은 화면 (800px 이하) */
@media (max-width: 800px) {

    .sort-dropdown{
        font-size: 1rem;
    }
    .member-management {
        padding: 20px;
    }
    .content h2 {
        font-size: 1.6rem;
    }
    .sort-dropdown select {
        width: 100px;
    }
    .member-item {
        font-size: 0.9rem;
    }
}
