#mainContent, #side-menu, #mainWrapper, .content-title,
	.content-description, .notice-table th, .notice-table td, .pagination .page-link
	{
	white-space: nowrap;
}

#main-content {
	display: flex;
	justify-content: center; /* #mainContent 자체가 화면 중앙에 위치 */
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
}

#side-menu {
	position: sticky;
	top: 215px; /* 스크롤 시 화면 상단에서 150px 아래에 고정 */
	width: 20%; /* mainContent의 20% 너비 */
	max-width: 180px; /* 최대 너비 제한 */
	display: flex;
	justify-content: center;
	align-self: flex-start; /* flex 컨테이너에서 상단 정렬 */
}

#main-wrapper {
	width: 60%; /* mainContent의 60% 유지 */
	max-width: 864px; /* 최대 너비 제한 */
	box-sizing: border-box;
	padding: 40px 0;
}

.empty-space {
	width: 20%; /* mainContent의 20% 유지 */
	max-width: 180px; /* sideMenu와 동일한 최대 너비 */
}

.board-container {
	width: 100%;
	/* 부모 요소의 너비에 맞추기 */
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	min-height: 500px;
	/* 최소 높이 설정 */
	box-sizing: border-box;
	/* 추가: padding 포함 */
	margin-top: 20px; margin-bottom : 3vh;
	/* 기본 간격 */
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */
	flex-direction: column;
	
	gap:10px;
}

.navigation-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 66px;
	width: 100%;
	padding-bottom: 31px;
	box-sizing: border-box;
}

.left-section {
	display: flex;
	justify-content: space-evenly; /* 균등 분배 */
	align-items: center; /* 수직 중앙 정렬 */
	height: 100%; /* 부모 높이 */
	width: 15%; /* navigation-buttons의 15% 차지 */
	min-width: 95px; /* 최소 너비 */
	max-width: 110px;
}

.right-section {
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */
	justify-content: space-between; /* 내부 요소 간 간격 */
	height: 100%; /* 부모 높이 */
	width: 30%; /* navigation-buttons의 30% 차지 */
	min-width: 200px; /* 최소 너비 */
	max-width: 220px;
}

.right-section .round-button {
    flex: 0 1 auto; /* 유연하게 크기 조정 */
    text-align: center;
}


.right-section .nav-links-group {
	display: flex;
	justify-content: space-between; /* 내부 요소 간 간격 */
	align-items: center;
	height: 100%; /* 부모 높이 */
	flex: 0 0 55%; /* right-section의 55% 차지 */
	min-width: 115px; /* 최소 너비 */
}

.nav-text {
	flex: 0 0 auto; /* 필요한 만큼의 공간 차지 */
	font-size: 14px;
	color: #555;
	text-align: center;
	cursor: pointer;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	height: 100%; /* 부모 높이 */
	line-height: 35px; /* 텍스트를 높이 중앙에 정렬 */
}

.nav-text:hover {
	color: #28a745;
	text-decoration: underline;
}

/* 버튼 스타일 */
.round-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6cc24a;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	height: 100%; /* 부모 높이 */
	text-align: center;
	cursor: pointer;
}

.round-button:hover {
	background-color: #5aa33c;
}

.white-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	color: #333;
	border-radius: 4px;
	height: 100%; /* 부모 높이 */
	padding: 0 10px;
	font-size: 14px;
	cursor: pointer;
}

.white-button:hover {
	background-color: #e0e0e0;
}

/* 버튼 스타일 */
.round-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6cc24a;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	height: 100%; /* 부모 높이 채움 */
	text-align: center;
	cursor: pointer;
	min-width: 80px; /* 최소 너비 설정 */
}

.round-button:hover {
	background-color: #5aa33c;
}

.white-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	color: #333;
	border-radius: 4px;
	height: 100%; /* 부모 높이 채움 */
	padding: 0 10px;
	font-size: 14px;
	cursor: pointer;
}

.white-button:hover {
	background-color: #e0e0e0;
}



.white-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	color: #333;
	border-radius: 4px;
	height: 100%; /* 부모 높이 채움 */
	padding: 0 10px;
	font-size: 14px;
	cursor: pointer;
}

.white-button:hover {
	background-color: #e0e0e0;
}

.board-actions {
	text-align: right;
	color: #888;
}
.board-content{
	min-height: 200px;
}

.board-content-wrapper {
	display: flex;
	flex-direction: column;
	/* 수직으로 정렬 */
	justify-content: space-between;
	width: 100%;
}

.board-content .like-button {
	width: 15%;
	/* td의 50% 너비 */
	display: inline-flex;
	/* 내용 정렬을 위해 사용 */
	justify-content: space-between;
	/* 가로 중앙 정렬 */
	align-items: center;
	/* 세로 중앙 정렬 */
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 5px;
	font-size: 14px;
}

.question-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* 상하 간격을 최대로 */
	width: 100%; height : 40%;
	/* 높이 설정 */
	min-height: 600px;
	/* 최소 높이 설정 */
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 16px;
	line-height: 1.6;
	/* 줄 간격 조정 */
	box-sizing: border-box;
	margin-bottom: 2vh;
	height: 40%;
}
.answer-item{
	display: flex;
	justify-content: center;
	}
	

.answer-content {
	width: 80%;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 400px; /* 최소 높이 설정 */
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 16px;
	line-height: 1.6;
	box-sizing: border-box;
	align-items: stretch; /* 부모 안에서 자식 요소의 높이를 늘리도록 설정 */
	margin-bottom: 20px;
}

.container.my-5 {
    max-width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
    box-sizing: border-box; /* padding과 border를 포함한 너비 계산 */
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
}

.expert-container {
	flex: 0 0 20%; /* 고정된 높이 (전체 높이의 20% 차지) */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 20%; /* 부모 높이에 맞춰지게 설정 */
	margin-bottom: 2vh;
	flex-direction: column;
}

.action-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.board-detail {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 2vh;
}

.board-detail td {
	padding: 6px 16px;
	/* 각 행의 첫 번째 셀에 대해 들여쓰기 */
}

.board-category {
	font-size: 16px;
	font-weight: bold;
	color: green;
	padding: 5px 0;
}

.board-title {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
}

.board-user-info {
	font-size: 14px;
	color: #555;
	padding: 10px 0;
}
/* 로그인 사용자와 작성자가 동일할 경우 강조 */
.highlight-user {
	color: #265708; /* 원하는 색상 */
	font-weight: bold; /* 굵게 표시 */

}

.highlighted-user-id {
    color: #265708;         /* 초록색 */
    font-weight: bold;      /* 굵은 글씨 */
    font-size: 1.2em;       /* 글씨 크기 확대 */
}


.board-meta {
	font-size: 12px;
	color: #888;
	padding: 5px 0;
	text-align: right;
}

.board-meta-actions {
	text-align: right;
	font-size: 12px;
	color: #888;
	padding: 5px 0;
}

.response-section {
	display: flex;
	justify-content: space-between; /* 자식 요소들을 양쪽 끝으로 배치 */
	align-items: flex-start; /* 필요에 따라 수직 정렬 변경 */
	width: 100%; /* 부모 요소의 전체 너비 */
	flex-direction: column;
	flex: 1; /* 나머지 공간을 차지 */
}

.expert-response {
	flex: 1; /* 가능한 모든 공간을 차지 */
	margin-right: 20px; /* 오른쪽 여백 */
}

.disclaimer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.right-aligned-buttons {
	width: 20%; /* .disclaimer-container의 20% 너비 */
	display: flex;
	flex-direction: row;
	justify-content: space-between; /* 오른쪽 끝에 정렬 */
}

:root { 
	-button-font-size: 14px;
	/* 이 페이지의 글씨 크기 */
}
.board-attachments {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.board-attachments h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.attachment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attachment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.attachment-item:last-child {
    border-bottom: none;
}

.attachment-name {
    font-size: 0.9em;
    color: #555;
}

.download-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 3px;
}

.download-button:hover {
    background-color: #0056b3;
}


.request-content {
    display: flex; /* Flexbox 컨테이너 설정 */
    justify-content: space-between; /* 자식 요소를 양쪽 끝으로 배치 */
    align-items: center; /* 세로축 정렬 (옵션) */
	border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}


.request-message {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 0; /* 기본 스타일 덮어쓰기 */
}


.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


.doctor-card {
	display: flex;
	width: 40%;
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 5px; /* 둥근 테두리 */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 15px; /* 답변 간 간격 */
  
}
.doctor-photo {
    width: 35%;
    /* 부모 컨테이너 너비의 20%를 차지 */
    height: 100%;
    /* 부모 컨테이너 높이를 모두 차지 */
}
.doctor-photo img {
    border-radius: 50%;
    width: 100%;
    /* 부모 컨테이너의 너비를 모두 차지 */
    height: 100%;
    /* 부모 컨테이너의 높이를 모두 차지 */

}
.answer-field,
.answer-date{
	font-size: 12px;
}