<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="healthReservationMapper">

    <!-- ReservationWithVaccineResult 설정 -->
    <resultMap type="Guest" id="GuestResultSet" >
        <result property="gstNo" column="GST_NO"/>
        <result property="gstName" column="GST_NAME"/>
        <result property="gstEmail" column="GST_EMAIL"/> <!-- PATIENT_NAME 추가 -->
       	<result property="gstPhone" column="GST_PHONE"/>
        <result property="gstBirth" column="GST_BIRTH"/>
        <result property="gstGender" column="GST_GENDER"/>
        <result property="gstAddress" column="GST_ADDRESS"/>
    </resultMap>

    <!-- 비회원 정보 삽입 쿼리 -->
    <insert id="insertGuest" parameterType="Guest">
    	INSERT INTO GUEST
    	(GST_NAME, GST_EMAIL, GST_PHONE, GST_BIRTH, GST_GENDER, GST_ADDRESS)
    	VALUES
    	(#{gstName}, #{gstEmail}, #{gstPhone}, TO_DATE(#{gstBirth}, 'YYMMDD'), #{gstGender}, #{gstAddress})
    <selectKey keyProperty="gstNo" resultType="java.lang.String" order="AFTER">
			select 'G' || SEQ_GST_NO.CURRVAL FROM DUAL
	</selectKey>
    </insert>
    
    
</mapper>
