<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hospitalMapper">
<!-- 단축 설정 -->
   <resultMap type="HospitalAccount" id="HospitalAccountResultSet">
      <result column="HOS_NO" property="hosNo" />
      <result column="HOS_ID" property="hosId" />
      <result column="HOS_PWD" property="hosPwd" />
      <result column="HOS_NAME" property="hosName" />
      <result column="HOS_ADDRESS" property="hosAddress" />
      <result column="HOS_TEL" property="hosTel" />
      <result column="HOS_YEAR" property="hosYear" />
      <result column="HOS_TIME" property="hosTime" />
      <result column="HOS_INFO" property="hosInfo" />
      <result column="HOS_ONDUTY" property="hosOnduty" />
      <result column="HOS_PARKING" property="hosParking" />
   </resultMap>
   
   <resultMap type="HospitalInfo" id="HospitalInfoResultSet">
      <result column="HOS_NO" property="hosNo" />
      <result column="HOS_NAME" property="hosName" />
      <result column="HOS_ADDRESS" property="hosAddress" />
      <result column="HOS_TEL" property="hosTel" />
      <result column="DEPARTMENT" property="department" />
      <result column="HOS_START_TIME1" property="hosStartTime1" />
      <result column="HOS_CLOSE_TIME1" property="hosEndTime1" />
      <result column="HOS_START_TIME2" property="hosStartTime2" />
      <result column="HOS_CLOSE_TIME2" property="hosEndTime2" />
      <result column="HOS_LATITUDE" property="hosLatitude" />
      <result column="HOS_LONGITUDE" property="hosLongitude" />
   </resultMap>

   <!-- 병원Info 조회 -->
   <select id="selectHospital" parameterType="HospitalInfo"
      resultMap="HospitalInfoResultSet">
      SELECT  HOS_NO,
              HOS_NAME,
              HOS_ADDRESS,
              HOS_TEL,
              DEPARTMENT,
              HOS_START_TIME1,
              HOS_CLOSE_TIME1,
              HOS_START_TIME2,
              HOS_CLOSE_TIME2,
              HOS_LATITUDE,
              HOS_LONGITUDE
       FROM  HOSPITAL_INFO
       WHERE  HOS_NO = #{hosNo}
   </select>
   
   <!-- 병원 Account 조회 -->
   <select id="selectHospitalInfo" parameterType="HospitalAccount"
      resultMap="HospitalAccountResultSet">
      SELECT  HOS_ACCOUNT_NO,
              HOS_NO,
              HOS_ID,
              HOS_PWD,
              HOS_INFO,
              HOS_ONDUTY,
              HOS_PARKING
       FROM  HOSPITAL_ACCOUNT
       WHERE  HOS_NO = #{hosNo}
   </select>
   
   <!-- 병원 리스트 조회 -->
   <select id="selectHospitalList" parameterType="HospitalInfo"
      resultMap="HospitalInfoResultSet">
	   SELECT  HOS_NO,
	           HOS_NAME,
	           HOS_ADDRESS,
	           HOS_TEL,
	           DEPARTMENT,
	           HOS_START_TIME1,
	           HOS_CLOSE_TIME1,
	           HOS_START_TIME2,
	           HOS_CLOSE_TIME2,
	           HOS_LATITUDE,
	           HOS_LONGITUDE
		FROM (SELECT  HOS_NO,
			          HOS_NAME,
			          HOS_ADDRESS,
			          HOS_TEL,
			          DEPARTMENT,
			          HOS_START_TIME1,
			          HOS_CLOSE_TIME1,
			          HOS_START_TIME2,
			          HOS_CLOSE_TIME2,
			          HOS_LATITUDE,
			          HOS_LONGITUDE
	          FROM  HOSPITAL_INFO
	          ORDER BY HOS_NAME ASC)
		WHERE ROWNUM &lt;= 10
   </select>
   
   <!-- 병원 리스트 페이징 조회 -->
   <select id="selectHospitalListPaginated" parameterType="map" resultMap="HospitalInfoResultSet">
		SELECT  HOS_NO,
               HOS_NAME,
               HOS_ADDRESS,
               HOS_TEL,
               DEPARTMENT,
               HOS_START_TIME1,
               HOS_CLOSE_TIME1,
               HOS_START_TIME2,
               HOS_CLOSE_TIME2,
               HOS_LATITUDE,
               HOS_LONGITUDE
    	FROM (SELECT ROW_NUMBER() OVER (ORDER BY HOS_NAME ASC) AS row_num,
	           		 HOS_NO,
		             HOS_NAME,
		             HOS_ADDRESS,
		             HOS_TEL,
		             DEPARTMENT,
		             HOS_START_TIME1,
		             HOS_CLOSE_TIME1,
		             HOS_START_TIME2,
		             HOS_CLOSE_TIME2,
		             HOS_LATITUDE,
		             HOS_LONGITUDE
		      FROM HOSPITAL_INFO
		      WHERE DEPARTMENT LIKE 
		            CASE 
		                WHEN 'listAll' = 'listAll' THEN '%'
		                ELSE 'listAll'
		            END
			  ) subquery
		WHERE #{offset} &lt; row_num AND
			  row_num &lt;= #{offset} + #{limit}
   </select>
   
   <select id="searchHospital" resultMap="HospitalInfoResultSet">
   		SELECT  HOS_NO,
            HOS_NAME,
            HOS_ADDRESS,
            HOS_TEL,
            DEPARTMENT,
            HOS_START_TIME1,
            HOS_CLOSE_TIME1,
            HOS_START_TIME2,
            HOS_CLOSE_TIME2,
            HOS_LATITUDE,
            HOS_LONGITUDE
    	FROM HOSPITAL_INFO
    	WHERE HOS_NAME LIKE '%' ||  #{keyword} || '%'
   </select>
   
   <!-- 열린 병원 리스트 조회 -->
   <select id="selectOpenHospitalList" resultMap="HospitalInfoResultSet">
	   SELECT  HOS_NO,
	           HOS_NAME,
	           HOS_ADDRESS,
	           HOS_TEL,
	           DEPARTMENT,
	           HOS_START_TIME1,
	           HOS_CLOSE_TIME1,
	           HOS_START_TIME2,
	           HOS_CLOSE_TIME2,
	           HOS_LATITUDE,
	           HOS_LONGITUDE
		FROM (SELECT  HOS_NO,
			          HOS_NAME,
			          HOS_ADDRESS,
			          HOS_TEL,
			          DEPARTMENT,
			          HOS_START_TIME1,
			          HOS_CLOSE_TIME1,
			          HOS_START_TIME2,
			          HOS_CLOSE_TIME2,
			          HOS_LATITUDE,
			          HOS_LONGITUDE
	          FROM  HOSPITAL_INFO
	          ORDER BY HOS_NAME ASC)
		WHERE TO_NUMBER(SUBSTR(HOS_START_TIME1, 0,2) || SUBSTR(HOS_START_TIME1, 4,2)) &lt;= TO_NUMBER(TO_CHAR(SYSDATE, 'HH24MI')) AND
      		  TO_NUMBER(TO_CHAR(SYSDATE, 'HH24MI')) &lt;= TO_NUMBER(SUBSTR(HOS_CLOSE_TIME1, 0,2) || SUBSTR(HOS_CLOSE_TIME1, 4,2)) AND
      		  ROWNUM &lt;= 10
   </select>
   
   <!-- 열린 병원 리스트 페이징 조회 -->
   <select id="selectOpenHospitalListPaginated" parameterType="map" resultMap="HospitalInfoResultSet">
		SELECT  HOS_NO,
               HOS_NAME,
               HOS_ADDRESS,
               HOS_TEL,
               DEPARTMENT,
               HOS_START_TIME1,
               HOS_CLOSE_TIME1,
               HOS_START_TIME2,
               HOS_CLOSE_TIME2,
               HOS_LATITUDE,
               HOS_LONGITUDE
    	FROM (SELECT ROW_NUMBER() OVER (ORDER BY HOS_NAME ASC) AS row_num,
	           		 HOS_NO,
		             HOS_NAME,
		             HOS_ADDRESS,
		             HOS_TEL,
		             DEPARTMENT,
		             HOS_START_TIME1,
		             HOS_CLOSE_TIME1,
		             HOS_START_TIME2,
		             HOS_CLOSE_TIME2,
		             HOS_LATITUDE,
		             HOS_LONGITUDE
		      FROM HOSPITAL_INFO
		      WHERE TO_NUMBER(SUBSTR(HOS_START_TIME1, 0,2) || SUBSTR(HOS_START_TIME1, 4,2)) &lt;= TO_NUMBER(TO_CHAR(SYSDATE, 'HH24MI')) AND
		            TO_NUMBER(TO_CHAR(SYSDATE, 'HH24MI')) &lt;= TO_NUMBER(SUBSTR(HOS_CLOSE_TIME1, 0,2) || SUBSTR(HOS_CLOSE_TIME1, 4,2)) AND
		            DEPARTMENT LIKE 
		            CASE 
		                WHEN 'listAll' = 'listAll' THEN '%'
		                ELSE 'listAll'
		            END
			  ) subquery
		WHERE #{offset} &lt; row_num AND
			  row_num &lt;= #{offset} + #{limit}
   </select>

</mapper>
