<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hospitalMapper">
<!-- 단축 설정 -->
	<resultMap type="HospitalAccount" id="HospitalAccountResultSet">
		<result column="HOS_NO" property="hosNo" />
		<result column="HOS_ID" property="hosId" />
		<result column="HOS_PWD" property="hosPwd" />
		<result column="HOS_NAME" property="hosName" />
		<result column="HOS_ADDRESS" property="hosAddress" />
		<result column="HOS_TEL" property="hosTel" />
		<result column="HOS_YEAR" property="hosYear" />
		<result column="HOS_TIME" property="hosTime" />
		<result column="HOS_INFO" property="hosInfo" />
		<result column="HOS_ONDUTY" property="hosOnduty" />
		<result column="HOS_PARKING" property="hosParking" />
	</resultMap>
	
	<resultMap type="HospitalInfo" id="HospitalInfoResultSet">
		<result column="HOS_NO" property="hosNo" />
		<result column="HOS_NAME" property="hosName" />
		<result column="HOS_ADDRESS" property="hosAddress" />
		<result column="HOS_TEL" property="hosTel" />
		<result column="DEPARTMENT" property="department" />
		<result column="HOS_START_TIME1" property="hosStartTime1" />
		<result column="HOS_CLOSE_TIME1" property="hosEndTime1" />
		<result column="HOS_START_TIME2" property="hosStartTime2" />
		<result column="HOS_CLOSE_TIME2" property="hosEndTime2" />
		<result column="HOS_LATITUDE" property="hosLatitude" />
		<result column="HOS_LONGITUDE" property="hosLongitude" />
	</resultMap>

	<!-- 병원 조회 -->
	<select id="selectHospital" parameterType="HospitalInfo"
		resultMap="HospitalInfoResultSet">
		SELECT  HOS_NO,
				HOS_NAME,
				HOS_ADDRESS,
				HOS_TEL,
				DEPARTMENT,
				HOS_START_TIME1,
				HOS_CLOSE_TIME1,
				HOS_START_TIME2,
				HOS_CLOSE_TIME2,
				HOS_LATITUDE,
				HOS_LONGITUDE
		  FROM  HOSPITAL_INFO
		 WHERE  HOS_NO = #{hosNo}
	</select>
	
	<!-- 병원 리스트 조회 -->
	<select id="selectHospitalList" parameterType="HospitalInfo"
		resultMap="HospitalInfoResultSet">
		SELECT  HOS_NO,
				HOS_NAME,
				HOS_ADDRESS,
				HOS_TEL,
				DEPARTMENT,
				HOS_START_TIME1,
				HOS_CLOSE_TIME1,
				HOS_START_TIME2,
				HOS_CLOSE_TIME2,
				HOS_LATITUDE,
				HOS_LONGITUDE
		  FROM  HOSPITAL_INFO
	</select>

</mapper>
