<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquirymapper">

    <!-- 게시글 ResultMap 정의 -->
    <resultMap id="noticeResult" type="Board">
        <!-- 게시글 정보 -->
        <id property="boardNo" column="BOARD_NO" />
        <result property="boardType" column="BOARD_TYPE" />
        <result property="boardTitle" column="BOARD_TITLE" />
         <result property="tag" column="TAG" />
        <result property="userNo" column="USER_NO" />
        <result property="boardWriter" column="BOARD_WRITER" />
        <result property="boardContent" column="BOARD_CONTENT" />
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="modifiedDate" column="MODIFIED_DATE" />
        <result property="boardViews" column="BOARD_VIEWS" />
        <result property="boardCategory" column="BOARD_CATEGORY" />
        <result property="status" column="STATUS" />
        <result property="inquiryCategory" column="INQUIRY_CATEGORY" />
    </resultMap>
    
    
    <select id="selectNotices" resultMap="noticeResult">
   		SELECT * FROM BOARD
    	WHERE INQUIRY_CATEGORY = '공지사항' AND STATUS = 'Y'
   		ORDER BY ENROLL_DATE DESC
	</select>

    
</mapper>