<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiryMapper">


<resultMap id="inquiryResult" type="com.project.trinity.inquiry.vo.Inquiry">
    <result property="inquiryNo" column="INQUIRY_NO" />
    <result property="userNo" column="USER_NO" />
    <result property="inquiryWriter" column="INQUIRY_WRITER" />
    <result property="categoryId" column="CATEGORY_ID" />
     <result property="categoryName" column="CATEGORY_NAME" />
    <result property="inquiryTitle" column="INQUIRY_TITLE" />
    <result property="inquiryContent" column="INQUIRY_CONTENT" />
    <result property="adminReply" column="ADMIN_REPLY" />
    <result property="status" column="STATUS" />
    <result property="enrollDate" column="ENROLL_DATE" />
    <result property="updateDate" column="UPDATE_DATE" />
    <result property="inquiryViews" column="INQUIRY_VIEWS" />
   
</resultMap>



    
    
     <select id="getCategoryNameById" resultType="String">
        SELECT CATEGORY_NAME
        FROM BOARD_CATEGORY
        WHERE CATEGORY_ID = #{categoryId}
    </select>

<select id="selectListByCategory" parameterType="map" resultMap="inquiryResult">
    SELECT *
    FROM (
        SELECT
            i.INQUIRY_NO AS INQUIRY_NO,
            i.USER_NO AS USER_NO,
            m.USER_NAME AS INQUIRY_WRITER,
            i.CATEGORY_ID AS CATEGORY_ID,
            bc.CATEGORY_NAME AS CATEGORY_NAME, 
            i.INQUIRY_TITLE AS INQUIRY_TITLE,
            i.INQUIRY_CONTENT AS INQUIRY_CONTENT,
            i.ADMIN_REPLY AS ADMIN_REPLY,
            i.STATUS AS STATUS,
            TO_CHAR(i.ENROLL_DATE, 'YYYY/MM/DD') AS ENROLL_DATE,
            TO_CHAR(i.UPDATE_DATE, 'YYYY/MM/DD') AS UPDATE_DATE,
            i.INQUIRY_VIEWS AS INQUIRY_VIEWS,
            ROW_NUMBER() OVER (
                ORDER BY
                CASE
                    WHEN #{sortType} = '작성일' THEN i.ENROLL_DATE DESC
                    ELSE i.INQUIRY_NO DESC
                END
            ) AS RN
        FROM INQUIRY i
        LEFT JOIN MEMBER m ON i.USER_NO = m.USER_NO
        LEFT JOIN BOARD_CATEGORY bc ON i.CATEGORY_ID = bc.CATEGORY_ID
        WHERE i.STATUS = 'Y'
        <if test="categoryId != null and categoryId != ''">
            AND (i.CATEGORY_ID = #{categoryId} OR bc.PARENT_ID = #{categoryId}) <!-- 수정된 조건 -->
        </if>
    )
    WHERE RN BETWEEN #{startRow} AND #{endRow}
</select>






	
   <select id="getListCount" resultType="int">
    SELECT COUNT(*)
    FROM INQUIRY
    WHERE STATUS = 'Y'
    <if test="categoryId != null">
        AND CATEGORY_ID = #{categoryId}
    </if>
</select>


    
</mapper>