<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reservationMapper">
<!-- 단축 설정 -->
	<resultMap type="Reservation" id="ReservationResultSet">
		<result column="RES_NO" property="resNo" />
		<result column="USER_ID" property="userId" />
		<result column="HOS_NO" property="hosNo" />
		<result column="RES_DATE" property="resDate" />
		<result column="RES_TIME" property="resTime" />
		<result column="RES_CATEGORY" property="resCategory" />
		<result column="RES_CONTENT" property="resContent" />
	</resultMap>

	<!-- 백신 예약 -->


</mapper>