<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reservationMapper">

    <!-- ReservationWithVaccineResult 설정 -->
    <resultMap id="ReservationWithVaccineResult" type="com.project.trinity.reservation.model.vo.Reservation">
        <id property="resNo" column="RES_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="hosNo" column="HOS_NO"/>
         <result property="patientName" column="PATIENT_NAME"/> <!-- PATIENT_NAME 추가 -->
       	<result property="patientBirthday" column="PATIENT_BIRTHDAY"/>
        <result property="resDate" column="RES_DATE"/>
        <result property="resTime" column="RES_TIME"/>
        <result property="resCategory" column="RES_CATEGORY"/>
        <result property="resContent" column="RES_CONTENT"/>
    </resultMap>
    
    <!-- 일반 진료 예약 -->
    <insert id="insertgReservation" parameterType="com.project.trinity.reservation.model.vo.Reservation">
    	INSERT INTO GENERAL_RESERVATION
    	(USER_NO, HOS_NO, RES_DATE, RES_TIME, RES_CATEGORY, RES_CONTENT)
		VALUES
    	(#{userNo}, #{hosNo}, TO_DATE(#{resDate}, 'YYYY-MM-DD'), #{resTime}, #{resCategory}, #{resContent})
    </insert>
    
</mapper>
