<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vaccineMapper">

    <!-- ReservationWithVaccineResult 설정 -->
    <resultMap id="ReservationWithVaccineResult" type="VaccineReservation">
        <id property="vresNo" column="V_RES_NO" /> <!-- 백신 예약 번호 -->
        <result property="userNo" column="USER_NO" /> <!-- 사용자 번호(로그인) -->
        <result property="hosNo" column="HOS_NO" /> <!-- 병원 번호 -->
        <result property="gstNo" column="GST_NO" /> <!-- 게스트 번호(비로그인) -->
        <result property="patientName" column="PATIENT_NAME" /> <!-- 접종자 이름 -->
        <result property="patientBirthday" column="PATIENT_BIRTHDAY" /> <!-- 접종자 생년월일 -->
        <result property="gender" column="GENDER" />
        <result property="phoneNumber" column="PHONE" />
        <result property="email" column="EMAIL" />
        <result property="vresDate" column="V_RES_DATE" /> <!-- 백신 접종 날짜 -->
        <result property="vresTime" column="V_RES_TIME" /> <!-- 백신 접종 시간 -->
        <result property="vaccineType" column="V_TYPE" /> <!-- 백신 종류 -->
        <result property="resContent" column="RES_CONTENT" /> <!-- 특이 사항 -->
    </resultMap>

    <!-- Guest Result Map -->
    <resultMap id="guestResultMap" type="Guest">
        <id property="gstNo" column="GST_NO" />
        <result property="gstName" column="GST_NAME" />
        <result property="gstEmail" column="GST_EMAIL" />
        <result property="gstPhone" column="GST_PHONE" />
        <result property="gstBirth" column="GST_BIRTH" />
        <result property="gstGender" column="GST_GENDER" />
        <result property="gstAddress" column="GST_ADDRESS" />
    </resultMap>
    
    <!-- HospitalInfo Result Map -->
    <resultMap type="HospitalInfo" id="HospitalInfoResultSet">
      <result column="HOS_NO" property="hosNo" />
      <result column="HOS_NAME" property="hosName" />
      <result column="HOS_ADDRESS" property="hosAddress" />
      <result column="HOS_TEL" property="hosTel" />
      <result column="DEPARTMENT" property="department" />
      <result column="HOS_START_TIME1" property="hosStartTime1" />
      <result column="HOS_CLOSE_TIME1" property="hosEndTime1" />
      <result column="HOS_START_TIME2" property="hosStartTime2" />
      <result column="HOS_CLOSE_TIME2" property="hosEndTime2" />
      <result column="HOS_LATITUDE" property="hosLatitude" />
      <result column="HOS_LONGITUDE" property="hosLongitude" />
      <result column="HOS_TEL" property="hosTel" />
      <result column="HOS_YEAR" property="hosYear" />
      <result column="HOS_ID" property="hosId" />
      <result column="HOS_PWD" property="hosPwd" />
      <result column="HOS_INFO" property="hosInfo" />
      <result column="HOS_ONDUTY" property="hosOnduty" />
      <result column="HOS_PARKING" property="hosParking" />
   </resultMap>

    <!-- 예약 삽입 -->
    <insert id="insertVaccineReservation" parameterType="VaccineReservation">
        INSERT INTO VACCINE_RESERVATION (
            V_RES_NO, USER_NO, HOS_NO, GST_NO, PATIENT_NAME, PATIENT_BIRTHDAY,
            V_RES_DATE, V_RES_TIME, V_TYPE, RES_CONTENT, GENDER, PHONE, EMAIL
        ) VALUES (
            SEQ_V_RES_NO.NEXTVAL,
            #{userNo},
            #{hosNo},
            #{gstNo},
            #{patientName},
            #{patientBirthday},
            #{vresDate},
            #{vresTime},
            #{vaccineType},
            #{resContent},
            #{gender},
            #{phoneNumber},
            #{email}
        )
    </insert>

    <!-- 병원 목록 조회 -->
    <select id="selectAllHospitals" resultMap="HospitalInfoResultSet">
        SELECT
            HOS_NO,
            HOS_NAME,
            HOS_ADDRESS,
            HOS_TEL,
            DEPARTMENT,
            HOS_START_TIME1,
            HOS_CLOSE_TIME1,
            HOS_START_TIME2,
            HOS_CLOSE_TIME2,
            HOS_LATITUDE,
            HOS_LONGITUDE
        FROM HOSPITAL_INFO
        WHERE ROWNUM &lt;= 20
    </select>

    <!-- 게스트 정보 삽입 -->
    <insert id="insertGuest" parameterType="VaccineReservation">
        <selectKey keyProperty="gstNo" resultType="java.lang.String" order="BEFORE">
            SELECT 'G' || TO_CHAR(SEQ_GST_NO.NEXTVAL) AS GST_NO FROM DUAL
        </selectKey>
        INSERT INTO GUEST (
            GST_NO, GST_NAME, GST_EMAIL, GST_PHONE, GST_BIRTH, GST_GENDER, GST_ADDRESS
        ) VALUES (
            #{gstNo}, #{gstName}, #{gstEmail}, #{gstPhone}, #{gstBirth}, #{gstGender}, #{gstAddress}
        )
    </insert>

    <!-- 예약번호로 조회 -->
    <select id="selectReservation" resultType="VaccineReservation">
        SELECT V_RES_NO as vresNo,
            USER_NO as userNo,
            HOS_NO as hosNo,
            GST_NO as gstNo,
            PATIENT_NAME as patientName,
            PATIENT_BIRTHDAY as patientBirthday,
            GENDER as gender,
            EMAIL as email,
            V_RES_DATE as vresDate,
            V_RES_TIME as vresTime,
            V_TYPE as vaccineType,
            RES_CONTENT as resContent
        FROM VACCINE_RESERVATION
        WHERE V_RES_NO = #{resNo}
    </select>

    <!-- 특정 사용자의 백신 예약 조회 -->
    <select id="selectVaccineReservations" resultMap="ReservationWithVaccineResult">
        SELECT
            V_RES_NO, 
            USER_NO, 
            HOS_NO, 
            PATIENT_NAME, 
            PATIENT_BIRTHDAY,
            V_TYPE, 
            V_RES_DATE, 
            V_RES_TIME, 
            RES_CONTENT
        FROM VACCINE_RESERVATION
        WHERE USER_NO = #{userNo}
    </select>

</mapper>
