<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>

 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 		<setting name="logImpl" value="LOG4J"/>
 	</settings>
 	
 <typeAliases>
 		<typeAlias type="com.project.trinity.member.model.vo.MedicalField" alias="MedicalField" />
 		<typeAlias type="com.project.trinity.member.model.vo.Member" alias="Member" />
 		<typeAlias type="com.project.trinity.member.model.vo.Guest" alias="Guest" />
 		<typeAlias type="com.project.trinity.member.model.vo.Rankup" alias="Rankup" />
 		<typeAlias type="com.project.trinity.community.board.model.vo.Board" alias="Board" />
 		<typeAlias type="com.project.trinity.community.board.model.vo.BoardCategory" alias="BoardCategory" />
 		<typeAlias type="com.project.trinity.community.board.model.vo.BoardFile" alias="BoardFile" />
 		<typeAlias type="com.project.trinity.community.board.model.vo.Comment" alias="Comment" />
 		<typeAlias type="com.project.trinity.community.board.model.vo.Like" alias="Like" />
 		<typeAlias type="com.project.trinity.hospital.model.vo.HospitalAccount" alias="HospitalAccount" />
 		<typeAlias type="com.project.trinity.hospital.model.vo.HospitalInfo" alias="HospitalInfo" />
 		<typeAlias type="com.project.trinity.reservation.model.vo.Reservation" alias="Reservation" /> 			
 		<typeAlias type="com.project.trinity.reservation.model.vo.HealthReservation" alias="HealthReservation" />
 		<typeAlias type="com.project.trinity.vaccine.model.vo.VaccineReservation" alias="VaccineReservation" />
 	</typeAliases>
 	
 	<mappers>
 		<mapper resource="mappers/admin-mapper.xml"/>
 		<mapper resource="mappers/member-mapper.xml"/>
 		<mapper resource="mappers/hospital-mapper.xml"/>
 		<mapper resource="mappers/board-mapper.xml"/>
 		<mapper resource="mappers/inquiry-mapper.xml"/>
 		<mapper resource="mappers/reservation-mapper.xml"/>
 		<mapper resource="mappers/healthReservation-mapper.xml"/>
 		<mapper resource="mappers/vaccine-mapper.xml"/>
        <mapper resource="mappers/doctor-mapper.xml"/>
   
 	</mappers>
 	
 </configuration>