      
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: auto;
    margin-right: 5px;
}

.title {
    font-size: 1.2rem;
    color: #00af87; /* 닥터링 색상 */
    font-weight: bold;
}

.nav-links {
    display: none;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.login-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-menu a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

/* 큰 화면에서 적용될 스타일 */
@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .header {
        padding: 20px 40px;
    }
}

/*health_reservation1 css*/
.health_reservation1_wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 16px;
}

.health_reservation1_container{
    width: 100%;
}

.health_reservation1_title{
    font-size: larger;
    font-weight: 800;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 0;
}

.content{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content2{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#health_reservation1_content_title{
    padding: 10px 0;
    border-bottom: black 1px solid;
    font-size: medium;
    font-weight: 600;
}

.content > p{
    font-size: medium;
    font-weight: 600;
    color: #4E4E4E;
}

.content2 > p{
    font-size: small;
    font-weight: 400;
    color: #4E4E4E;
}

.content > input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    width: 100%;
}

.content > select{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    color: #4E4E4E;
}

.input_idNum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input_address{
    display: flex;
    flex-direction: row;
}

.input_address > input{
    width: 75%;
}

.input_idNum > input[type= password]{
    width: 30px;
}

.input_phone{
    display: flex;
    flex-direction: row;
}

.input_email{
    display: flex;
    flex-direction: row;
}

.health_reservation1_tos > table{
    border-collapse: collapse;
}

.health_reservation1_tos > table,tr,td{
    border: #c5c5c5 1px solid;
    font-size: smaller;
}
.health_reservation1_tos > table > thead{
    background-color: #f4f4f4;
}

.use_tos{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#reservation_btn{
    background-color: #2D5EFF;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    float: right;
}

/*미디어쿼리*/
@media (min-width: 768px) {
    .health_reservation1_container{
        max-width: 800px;
    }

    .health_reservation1_tos > table,tr,td{
        font-size: small;
    }
    
    table{
        width: 100%;
    }

    .input_idNum{
        max-width: 50%;
    }

    .input_email{
        max-width: 50%;
    }

    .use_tos{
        flex-direction: row;
    }

    .content2{
        gap: 40px;
    }

    .content2 > p{
        font-size: medium;
        font-weight: 600;
    }

    
}