* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.footer {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    color: #000000;
    border-top: 1px solid #ddd;
    text-align: center;
    line-height: 1.6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 100%;

}

.icon {
    width: 50px;
    height: auto;
    margin-right: 8px;
}

.logo-text {
    font-size: 1.5rem;
    color: #8DCE4E;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;

}

.horizontal-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin-left: 10px;
}


.footer-links {
	width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9rem;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.footer-links a {
    color: #333;
    text-decoration: none;
}
.footer-logo-text{
	font-size: 1.5rem;
    color: #8DCE4E;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.footer-info,
.footer-company {
    font-weight: bold;
    color: #636363;
    text-align: left;
    width: 100%;
    max-width: 950px
}

.footer-info p,
.footer-company p {
    font-size: 16px;
}


.footer-company {
    margin-bottom: 55px;
}

.footer-icon{
	width: 50px;
    height: auto;
    margin-right: 8px;
}
@media (max-width: 1000px) {
    .footer-info p,
	.footer-company p {
    font-size: 12px;
}
}

@media (max-width: 768px) {
    .footer-links {
        gap: 10px;
        font-size: 0.7rem;
    }

	.footer-info p,
	.footer-company p {
    font-size: 10px;
	}

    .footer-logo-text {
        font-size: 1.0rem;
        color: #8DCE4E;
        font-weight: bold;
        text-decoration: none;
        margin-right: 10px; 
    }
    .footer-icon{
    display: none;
    }
}

@media (max-width: 480px) {
    .footer-links {
        gap: 10px;
        font-size: 0.5rem;
    }

    .footer-info p,
	.footer-company p {
    font-size: 8px;
	}

    .footer-logo-text {
        font-size: 0.8rem;
        color: #8DCE4E;
        font-weight: bold;
        text-decoration: none;
        margin-right: 10px;
    }
    
}