* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px 30px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;

}
.logo-text {
    font-size: 1.5rem;
    color: #8DCE4E !important;
    font-weight: bold;
    text-decoration: none !important;
}

.icon {
    width: 48px;
    height: auto;
}

.title {
    font-size: 1.6rem;
    color: #8DCE4E;
    font-weight: bold;
}

.nav-links {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: #265708;
    padding: 40px 40px;
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links a:hover {
    color: #8DCE4E;
    text-decoration: none;
}

.login-menu {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 130px;
}

.menu-icon {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

/* 1158px 이하에서의 스타일 */
@media (max-width: 1024px) {
    .nav-links a {
        padding: 40px 14px;
    }
}

/* 950px 이상에서 nav-links 표시 */
@media (min-width: 816px) {
    .nav-links {
        display: flex;
    }

    .header {
        padding: 0 40px;
    }
}

/* 420px 이하에서 logo 패딩 줄이기 */
@media (max-width: 480px) {

	.logo-text {
    font-size: 1rem;
    color: #8DCE4E !important;
    font-weight: bold;
    text-decoration: none !important;
}
    .logo {
        padding: 0 5px;
    }
    
    .login-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
}
}
