* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px 60px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    
}
.logo-text {
    font-size: 1.5rem;
    color: #8DCE4E !important;
    font-weight: bold;
    text-decoration: none !important;
}

.icon {
    width: 48px;
    height: auto;
}

.title {
    font-size: 1.6rem;
    color: #8DCE4E; /* 닥터링 색상 */
    font-weight: bold;
}

.nav-links {
    display: none;
    gap: 60px;
}
    

.nav-links a {
    text-decoration: none;
    color: #265708;

    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links a:hover{
    color: #8DCE4E;
    text-decoration: none;
}

.login-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-menu a {
    color: #265708;
    font-size: 1.5rem;
    text-decoration: none;
}

.login-menu a:hover {
    color: #8DCE4E;
    text-decoration: none;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: block;
}

/* 900이상 일때 적용되는 css */
@media (min-width: 900px) {
    .nav-links {
        display: flex;
        
    }

    .menu-icon {
        display: none;
    }

    .header {
        padding: 25px 40px;
    }
}