/* Common */
body{
    font-family: "Noto Sans KR", system-ui;
}

.hospitalList_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* SearchBar */
.hospitalList_searchBar{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hospitalList_searchBar input{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 12px;
    padding-left: 5px;
}
.hospitalList_searchBar button{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-size: 12px;
    padding: 0px 5px;
}

/* Order */
.hospitalList_order_wrapper{
    width: 90%;
}
.hospitalList_order{
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 10px;
}
.hospitalList_subject{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.hospitalList_orderBy{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

/* List */
.hospitalList_list{
    border-bottom: 7px solid #ececec;
    font-family: "Noto Sans KR", system-ui;
}
.hospitalList_listTitle{
    padding: 10px 0px;
}
.hospitalList_listTitle p{
    font-size: large;
    font-weight: bold;
    color: black;
}
.hospitalList_listOpenTime{
    padding: 5px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.hospitalList_listOpenTime p{
    color: #9e9e9e;
    font-weight: bold;
}
.hospitalList_listAddress{
    padding: 5px 0px;
}
.hospitalList_listAddress p {
    color: #9e9e9e;
    font-weight: 500;
}
.hospitalList_listTag{
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-bottom: 20px;
    gap: 10px;
}
.hospitalList_listTag button{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #9e9e9e;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 600;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

@media (min-width: 425px) {
    .hospitalList_list_wrapper2{
        width: 90%;
    }
    .hospitalList_order_wrapper{
        width: 90%;
    }
}

@media (min-width: 768px) {
    .hospitalList_order_wrapper{
        width: 60%;
        max-width: 800px;
    }
    .hospitalList_list_wrapper2{
        width: 60%;
        max-width: 800px;
    }
    
    /* SearchBar */
    .hospitalList_searchBar{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .hospitalList_searchBar input{
        display: flex;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 5px;
        width: 400px;
        height: 40px;
        font-size: 15px;
    }

    /* Order */
    .hospitalList_list_order{
        display: flex;
        justify-content: right;
        gap: 10px;
        margin-bottom: 10px;
    }
    .hospitalList_subject{
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }
    .hospitalList_list_order{
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }
}